.main {
  max-width: 500px;
  width: 85%;
  margin: 2rem auto;
  padding: 0.5rem;
  text-align: center;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2.5rem 5rem 0 rgba(0, 0, 0, 0.1);
  background-image: radial-gradient(
    circle at 43.89% 56.11%,
    #99eff3 0,
    #96e1e7 25%,
    #93d2d9 50%,
    #90c3cb 75%,
    #8cb6bd 100%
  );
}

.task {
  word-break: break-word;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn-wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: right;
  border-radius: 6px;
}

.btn {
  color: var(--dark-gray);
  background-color: var(--white);
  border: 1.5px solid var(--gray);
  padding: 0.1rem;
  font-size: 1rem;
  border-radius: 6px;
}

.btn:hover {
  background-color: var(--btn-hover);
}

.btn:active {
  background-color: var(--btn-active);
}

.btn:focus {
  outline: none;
  border: var(--gray) solid 2px;
}

.btn-primary {
  color: var(--white);
  background-color: var(--black);
  width: 20%;
  padding: 0.95rem 0;
  font-size: 1rem;
}

.btn-primary:hover {
  background-color: var(--md-gray);
}

.btn-primary:focus {
  color: var(--black);
  outline: none;
  border: var(--black) solid 2px;
  background-color: var(--btn-active);
}

.btn-primary:active {
  background-color: var(--md-gray);
}

ul li {
  list-style: none;
}

@media screen and (max-width: 600px) {
  .main {
    width: 90%;
  }
}
