.main {
  max-width: 500px;
  width: 85%;
  margin: 2rem auto;
  padding: 0.5rem;
  text-align: center;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2.5rem 5rem 0 rgba(0, 0, 0, 0.1);
}

input {
  outline: none;
}

label {
  font-size: 1rem;
  font-weight: 700;
  padding: 5rem 0;
}

ul {
  padding-inline-start: 0;
}

.lg-text-input {
  width: 80%;
  padding: 0.95rem;
  border: 1.5px solid var(--black);
  font-size: 1rem;
}

.form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.btn-wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: right;
  border-radius: 6px;
}

.btn {
  color: var(--dark-gray);
  background-color: var(--white);
  border: 1.5px solid var(--gray);
  padding: 0.1rem;
  font-size: 1rem;
  border-radius: 6px;
}

.btn:hover {
  background-color: var(--btn-hover);
}

.btn:active {
  background-color: var(--btn-active);
}

.btn:focus {
  outline: none;
  border: var(--gray) solid 2px;
}

.btn-primary {
  color: var(--white);
  background-color: var(--black);
  width: 20%;
  padding: 0.95rem 0;
  font-size: 1rem;
}

.btn-primary:hover {
  background-color: var(--md-gray);
}

.btn-primary:focus {
  color: var(--black);
  outline: none;
  border: var(--black) solid 2px;
  background-color: var(--btn-active);
}

.btn-primary:active {
  background-color: var(--md-gray);
}

ul li {
  list-style: none;
}

@media screen and (min-width: 600px) {
  .main {
    width: 70%;
  }
}
