.main {
  max-width: 500px;
  width: 85%;
  margin: 2rem auto;
  padding: 0.5rem;
  text-align: center;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2.5rem 5rem 0 rgba(0, 0, 0, 0.1);
}

.form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.task {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (min-width: 600px) {
  .main {
    width: 70%;
  }
}
