.item {
  padding: 0.5rem 0 0 0;
  text-align: left;
  font-size: 1.1rem;
}

.btn-wrapper {
  margin: 0.25rem;
}

.btn {
  flex-basis: 25%;
  border-radius: 6px;
}

.btn-save {
  background-color: var(--dark-gray);
  color: var(--white);
  border-color: var(--black);
}

.btn-save:hover {
  background-color: var(--md-gray);
}

.btn-save:focus {
  background-color: var(--white);
  color: var(--black);
}

.checkbox-wrapper {
  margin: 0.5rem 0;
}

.btn-warn {
  background-color: var(--btn-warn);
  color: var(--white);
}

.btn-warn:hover {
  background-color: var(--btn-warn-hover);
}

.btn-warn:active {
  background-color: var(--btn-warn);
}

.btn-cancel {
  background-color: var(--gray);
}

.btn-cancel:hover {
  background-color: var(--btn-hover);
}

.sm-text-input {
  width: 100%;
  padding: 0.5rem;
  border: 2px solid var(--md-gray);
  display: block;
  box-sizing: border-box;
  font-size: 1rem;
  margin: 1rem 0;
}

.checkbox-round {
  width: 1.3em;
  height: 1.3em;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #ddd;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

.checkbox-round:checked {
  background-color: var(--blue);
}

.complete {
  text-decoration: line-through;
  color: var(--md-gray);
}
