<div class="item">
  <input
    [id]="item.description"
    type="checkbox"
    (change)="item.done = !item.done"
    (click)="completeItem()"
    [checked]="item.done"
  />

  <!-- aplica o estilo da classe complete qdo o item.done  -->
  <label [for]="item.description" [ngClass]="{ complete: item.done }">
    {{ item.description }}</label
  >

  <!-- renderiza qdo o editable é negado -->
  <div class="btn-wrapper" *ngIf="!editable">
    <button class="btn" (click)="editable = !editable">Editar</button>
    <button class="btn btn-warn" (click)="removeItem()">Deletar</button>
  </div>

  <!-- renderiza qdo o editable está ativo -->
  <div *ngIf="editable">
    <input
      class="sm-text-input"
      placeholder="edit item"
      [value]="item.description"
      #editedItem
      (keyup.enter)="saveItem(editedItem.value)"
    />

    <div class="btn-wrapper">
      <button class="btn btn-cancel" (click)="editable = !editable">
        Cancelar
      </button>
      <button class="btn btn-save" (click)="saveItem(editedItem.value)">
        Salvar
      </button>
    </div>
  </div>
  <!-- fim da seção editable -->
</div>
